@import"normalize";

$main-color: #041011;
$accent-color: #007188;

body
{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: $main-color;
}

.container
{
    max-width: 1320px;
    margin: 0 auto;
}

.header
{
    padding-top: 23px;
    padding-bottom: 23px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    &__logo
    {
        width: 107px;
        height: 36px;
    }
    &-menu
    {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        a
        {
            color: $main-color;
            text-decoration: none;
            font-weight: bold;
        }
        span
        {
            color: gray;
        }
        &__list
        {
            padding-right: 40px;
            //display: flex;
            //justify-content: space-between;
            a
            {
                font-weight: 600;
                &:hover
                {
                    color: purple;
                }
            }
        }
    }
}

.btn
{
    font-weight: 600;
    height: 56px;
    left: 79.94%;
    right: 0%;
    top: 0.2px;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    &:hover
    {
        background-color: cornflowerblue;
    }
    &_blue
    {
        background-color: $accent-color;
        color: #fff;
        border: none;
        margin-left: 0;
    }
}

.button
{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    //color: #126F86;
    color: $accent-color;
    border: none;
    background-color: inherit;
    position: relative;
    padding-left: 0;
    &:focus
    {
        outline: none;
    }
}

.page
{
    &-main
    {
        background-color: #FFF3F1;
        padding-top: 85px;
        padding-bottom: 400px;
        background-image: url(../img/hello-image.png);
        background-repeat: no-repeat;
        background-position-x: right;
    }
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
}

.main
{
    padding-left: 60px;
    &__author-first
    {
        margin-top: 80px;
    }
    &__author
    {
        padding-right: 135px;
        font-weight: normal;
        font-size: 72px;
        line-height: 71px;
        text-transform: uppercase;
        color: $main-color;
    }
    &__subtitle
    {
        font-weight: normal;
        font-size: 21px;
        line-height: 34px;
        letter-spacing: 0.3px;
        color: $main-color;
        width: 620px;
        //margin-bottom: 40px;
    }
    &__text
    {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.07);
        border-radius: 200px;
    }
    &__btn
    {
        border-radius: 200px;
        border: none;
        background-color: $accent-color;
        color: #fff;
    }
}

.input
{
    /*width: 400px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.07);
    border-radius: 30px;*/
}

